@using Microsoft.AspNetCore.Identity

<ul class="navbar-nav">
@if(User.Identity?.IsAuthenticated ?? false) {
    <li class="nav-item">
        <a  class="nav-link" href="#" title="Manage">@User.Identity?.Name</a>
    </li>
    <li class="nav-item">
            <form class="form-inline" asp-action="SignOut" >
            <button  type="submit" class="nav-link btn btn-link">Sign out</button>
        </form>
    </li>
}
</ul>
