@model Application.Models.Identity.SignUpRequest

@{
    ViewData["Title"] = "Sign up";
}

<div class="container mt-5">
    <form asp-antiforgery="true" asp-action="SignUp" asp-controller="Identity" method="post">
    <div>
        <div class="validation text-danger" asp-validation-summary="ModelOnly"></div>
        <div>  
            <label asp-for="Email" class="form-label">Email</label>
            <input asp-for="Email" class="form-control" autocomplete="email" aria-required="true" placeholder="name@example.com" type="email" />
            <span asp-validation-for="Email" class="text-danger"></span>
        </div>
        <div>
            <label asp-for="Username" class="form-label">Username</label>
            <input asp-for="Username" class="form-control" autocomplete="username" aria-required="true" placeholder="JohnDoe" type="text" />
            <span asp-validation-for="Username" class="text-danger"></span>
        </div>
        <div>
            <label asp-for="Password" class="form-label">Password</label>
            <input asp-for="Password" class="form-control" autocomplete="current-password" aria-required="true" type="password" placeholder="password" />
            <span asp-validation-for="Password" class="text-danger"></span>
        </div>
        <div>
            <input type="submit" value="Sign up" class="btn btn-primary mb-0"/>
            <a asp-action="SignIn" class="btn btn-success ms-2">Sign in</a>
        </div>
    </div>
</form>

</div>


@section scripts {
    <partial name="_ValidationScriptsPartial" />
}